<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container-fluid" style="position: relative;">
        <% if(typeof results === 'undefined') { %>
            <%- include ('../partials/message') %>
        <% } else { %> 

        <% let player = results; %>
        <% let recentMatches = battlelog.data; %>
        <%    let worstClan_members = worstClanInfo.data.memberList; %>
        <%   let profileImg = player.data.currentFavouriteCard.iconUrls.medium; %>
        <%  let profilePic = `<div class="profile-image"> 

            <img src="${profileImg}" alt="">

        </div>`; %>
        <div class="profileCard container-fluid">
            <div class="profile-card-6"><img src="https://i.imgur.com/m72NFZ7.png" class="img img-responsive">
                <div class="profile-name"><%= player.data.name %>
                    <br><small><%= player.data.tag %></small>
                    <br><small><%= player.data.arena.name %></small>
                </div>
                <div>
                    <%- profilePic %>
                </div>
                <div class="profile-overview">
                    <div class="profile-overview text-center">
                        <div class="row text-center">
                            <div class="col-sm-4">
                                <h3><%= player.data.wins %></h3>
                                <p>Wins</p>
                            </div>

                            <div class="col-sm-4">
                                <h3><%= player.data.losses %></h3>
                                <p>Losses</p>
                            </div>
                            <div class="col-sm-4">
                                <h3><%= player.data.trophies %></h3>
                                <p>Trophies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid leaderboardCard"> 
            <h3 style="color: white; padding-top: .5em;">Leaderboard</h3>
            <div class="card border-dark mb-3" style="background: rgba(9, 0, 0, 0.3); height: 85%;" >
                <table class="table table-borderless" style="color: white;">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Username</th>
                            <th scope="col">Challenges Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                <% let rankings = userRankings;
                    let rank = 1;
                    rankings.forEach(function(user) { //console.log(user); 
                        %>
                                <tr>
                                    <td scope="row"><%= rank %></td>
                                    <td><%= user.username %></td>
                                    <% if (user.challenges_completed != null) { %>
                                    <td><%= user.challenges_completed %></td>
                                    <% } else { %>
                                    <td>0</td>
                                    <% } %>
                                </tr>
                    <%
                    rank++;
                    }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container-fluid">
            <div class="battlelog" style="background: rgba(68, 68, 68, 0.28); ">
                <section class="card mb-3 sticky-top-md">
                    <div class="card-body">
                        <h4 class="card-title">Most Recent Battles</h4>
                    </div>
                </section>
                <% recentMatches.forEach(function(match) { console.log(match); 
                    let carouselButtonIDCnt = 0;
                    carouselButtonIDCnt++;
                    let matchDeck = match.team[0].cards;
                    var len = matchDeck.length;
                    let winCountBefore = match.challengeWinCountBefore;
                    let win = false;
                    if(match.team[0].crowns == match.opponent[0].crowns) {
                        win = false;
                    } else if (match.team[0].crowns > match.opponent[0].crowns) {
                        win = true;
                    } else {
                        win = false;
                    }
                    %>
                    
                <section class="card mb-3 sticky-md">
                    <div class="card-body">
                        <h4 style="display: inline-block;"><b><%= match.type %></b></h4>
                        <% if(win == true) { %>
                            <p style="color: green; position: relative; display: inline-block; padding-left: 1em;">Win</p>
                        <% } else { %>
                            <p style="color: red; position: relative; display: inline-block; padding-left: 1em;">Loss</p>
                        <% } %>
                        <br>
                        <br>
                        <h4><%= match.arena.name %></h4>
                        <br>
                        <br>
                        <div class="container-fluid">
                            <!-- <div style="display: inline-block; margin: 0 auto auto; padding-left: 10px; background-color: rgba(0, 255, 21, 0.3); border-radius: 15px; padding: 6px;">
                                <h5>Crowns: <%= match.team[0].crowns %></h5>
                            </div>
                            <div  style="display: inline-block; margin: 0 auto auto 10px; padding-left: 10px; background-color: rgba(0, 255, 21, 0.3); border-radius: 15px; padding: 6px;">
                                <h5>King Tower Hit Points: <%= match.team[0].kingTowerHitPoints %></h5>
                            </div>
                            <div  style="display: inline-block; margin: 0 auto auto 10px; padding-left: 10px; background-color: rgba(255, 0, 0, 0.3); border-radius: 15px; padding: 6px;">
                                <h5>Opponent Crowns: <%= match.opponent[0].crowns %></h5>
                            </div>
                            <div  style="display: inline-block;  margin-top: 15px; padding-left: 10px; background-color: rgba(255, 0, 0, 0.3); border-radius: 15px; padding: 6px;">
                                <h5>Opponent King Tower Hit Points: <%= match.opponent[0].kingTowerHitPoints %></h5>
                            </div> -->
                            <table class="table table-borderless" style="background: rgba(68, 68, 68, 0.05); border-radius: 10px;">
                                <h5 style="text-align: center; "><b>Stats</b></h5>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr style="color: rgba(24, 200, 1, 0.8);">
                                        <td scope="row">Crowns</td>
                                        <td><%= match.team[0].crowns %></td>
                                    </tr>
                                    <tr style="color: rgba(24, 200, 1, 0.8);">
                                        <td scope="row">King Tower Hit Points</td>
                                        <td><%= match.team[0].kingTowerHitPoints %> </td>
                                    </tr>
                                    <tr style="color: rgba(255, 0, 0, 0.8);">
                                        <td scope="row">Opponent Crowns</td>
                                        <td><%= match.opponent[0].crowns %></td>
                                    </tr>
                                    <tr style="color: rgba(255, 0, 0, 0.8);">
                                        <td scope="row">Opponent King Tower Hit Points</td>
                                        <td><%= match.opponent[0].kingTowerHitPoints %></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <h5 style="margin-top: 1em; margin-bottom: .5em; text-align: center;"><b>Deck</b></h5>
                        <div  style="padding: 0.5em 0.5em 0.5em 0.5em; background:rgba(68, 68, 68, 0.05); border-radius: 30px; width: 100%;" id="carouselControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <% let count = 0; %>
                                    <div  class="container">
                                <% for(var i = 0; i < len; i = i + 4) { count++; //gets photos for cards in deck used in match %> 
                                    <%  let cardImg1 = `<img style=" height: 12vh !important; width: 6vw !important;" class="d-block w-25" src="${matchDeck[i].iconUrls.medium}"><p style="margin: 0 20px auto auto; text-align: center;">${matchDeck[i].name}</p>`;
                                    let cardImg2 = `<img style=" height: 12vh !important; width: 6vw !important;" class="d-block w-25" src="${matchDeck[i + 1].iconUrls.medium}"><p style="margin: 0 20px auto auto; text-align: center;">${matchDeck[i+1].name}</p>`;
                                    let cardImg3 = `<img style=" height: 12vh !important; width: 6vw !important;" class="d-block w-25" src="${matchDeck[i + 2].iconUrls.medium}"><p style="margin: 0 20px auto auto; text-align: center;">${matchDeck[i+2].name}</p>`;
                                    let cardImg4 = `<img style=" height: 12vh !important; width: 6vw !important;" class="d-block w-25" src="${matchDeck[i + 3].iconUrls.medium}"><p style="margin: 0 20px auto auto; text-align: center;">${matchDeck[i+3].name}</p>`; %>
                                            <% if(count == 1){ %>
                                                <div  class="carousel-item active">
                                            <% } else { %> 
                                                <div class="carousel-item">
                                            <% } %>
                                                <div class="row">
                                                    <div style="margin-left: 1em;" class="col-sm">

                                                        <%- cardImg1 %>

                                                    </div>
                                                    <div style="margin-left: 1em;" class="col-sm">
                                                        
                                                        <%- cardImg2 %>
                                        
                                                    </div>
                                                    <div style="margin-left: 1em;" class="col-sm">

                                                        <%- cardImg3 %>
                                                    
                                                    </div>
                                                    <div style="margin-left: 1em;" class="col-sm">
                                                
                                                        <%- cardImg4 %>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                <% } %>  
                        </div>
                    </div>
                            <!-- <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                        </div>
                    </div>
                </section>
                <% }); %>
            </div>
        </div>
    </div>


    <% }; %>
</main>

<%- include ('../partials/footer') %>
