
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <!-- this is a bar that has the refresh and info like how many challenges the user completed -->
    <div class="container">
      <div class="row justify-content-center">
        <!--  How many challenges ther user completes-->
        <!-- This will only happen if the user is logged in -->
          
          <!-- refresh button
          <form action="/random" method="POST">
            <div class="random-new-deck col-md-auto">
              <button type="submit" class="btn btn-primary" style="margin-top:7%">New Random Deck</button>
            </div>
          </form> -->
          
      </div>
    </div>
    <!-- here we have card types that will display our 'card' info -->
    <div class="flex-container">
      <div class = "flex-child">
        <div class="random-deck-stats">
          <div class="random-challenges">
            <% if(isLoggedIn) { %>
              <h5 class="card-title" style="padding: 20px; padding-top: 30px;">Total Challenges Completed: <%=numChallengesCompleted  %></h5>
            <% } %>
          </div>
          <div class="random-challenges">
            <p>test</p>
          </div>
          <div>
            <% if(isCompleted) { %>
              <div class="container">
                <div class="alert alert-success">
                  <div class="row justify-content-center">
                    <img src="">
                    <h6><%=username%> has completed this challenge!</h6>
                    <img src="">
                  </div>
                </div>
              </div>
            <% } else { %>
              <div class="container">
                <div class="alert alert-danger">
                  <div class="row justify-content-center">
                    <h6><%=username%> has NOT completed this challenge!</h6>
                  </div>
                  <!-- Form button to check for completion by viewing the clash royale API -->
                  <form action="/random" method="POST">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Check Completion!</button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class = "random-deck-outline flex-child">
        <div class="random-deck-card">
          <div>
            <div class="random-challenges">
              <h5 class="card-title" style="padding: 20px; padding-top: 30px;">Challenge Deck: </h5>
            </div>
          </div>
          <table class="card-title">
            <% for(var i = 0; i < data.length; i = i + 4) { %>
              <tr>
                <td class="random-row">
                  <button type="button" class="random-deck-card-button">
                    <img class="random-deck-image" src="<%=data[i].icon_url%>">
                  </button>
                </td>
                <td class="random-row">
                  <button type="button" class="random-deck-card-button">
                    <img class="random-deck-image" src="<%=data[i+1].icon_url%>">
                  </button>
                </td>
                <td class="random-row">
                  <button type="button" class="random-deck-card-button">
                    <img class="random-deck-image" src="<%=data[i+2].icon_url%>">
                  </button>
                </td>
                <td class="random-row">
                  <button type="button" class="random-deck-card-button">
                    <img class="random-deck-image" src="<%=data[i+3].icon_url%>">
                  </button>
                </td>
              </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
</main>

<!-- Include footer partials -->
<%- include ('../partials/footer') %>



<!-- How are we connecting the refresh button? Href back to page? API Call like the login from Lab 9? -->